<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a routerLink="/home" class="logo" >
                        <div class="active"><b>Ponto Eletrônico</b></div>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav"  >
                        
                        <li><a routerLink="/ponto/registro" >Registrar Ponto</a></li>
                        <!-- CRIAR NGIF PARA ROLES GERENTE -->
                        <li><a routerLink="/colaborador/list">Colaboradores</a></li>
                        <!-- CRIAR NGIF PARA ROLES GERENTE -->
                        <li><a routerLink="/">Lançamentos</a></li>
                        <li><a routerLink="/">Meus Lançamentos</a></li>
                        <li><a routerLink="/meusdados/form">Meus Dados</a></li>
                      </ul>
                    <a class='menu-trigger' >
                     <!-- data-toggle="collapse" href="#multiCollapseExample1"  aria-expanded="false" aria-controls="multiCollapseExample1"> 
                        class="collapse multi-collapse" id="multiCollapseExample1"-->
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
 