<br>
<br>
<br>

<div class="container mt-5">
    <h1 class="mt-4">Registrar Ponto</h1>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Marcação</li>
    </ol>
    <div class="container">
        <form #loginForm="ngForm" (submit)="onSubmit()">
            
            <div class="row">
                <div class="form-group float-right mt-4 mt-0 ml-4">
                    <button class="btn btn-primary" type="submit">lançar</button>
                </div>
            </div>
        </form>

        
    </div>
</div>